.cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 29px 0;
}

.header {
    font-weight: 600;
    font-size: 1.25rem;
}