* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    border: none;
    font-family: Montserrat, sans-serif;
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    background-color: #EAEAEA;
    max-width: 1110px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    color: #1c1c27;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



